//*mixins*//
@import "./mixin.scss";

.about {
   &__row {
      &--title {
         text-align: center;
         margin-bottom: 2rem;
         h3 {
            font-family: $font;
            font-size: 2.8rem;
            font-weight: 700;
            color: $black;
         }
      }
      &--text {
         margin-bottom: 2rem;
         p {
            color: $black;
            font-family: $font;
            font-weight: 400;
            font-size: 1.7rem;
            margin-bottom: 1rem;
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
      &--content {
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         margin-bottom: 2rem;
      }
   }
}
.content__slider {
   width: 30%;
}
.content__list {
   width: 65%;
   h3 {
      color: $black;
      font-family: $font;
      font-weight: 400;
      font-size: 2rem;
   }
   &--block {
      margin: 0;
      padding: 0;
      margin-top: 2rem;
      list-style-type: none;
      li {
         margin-bottom: 1rem;
         position: relative;
         &:before {
            content: "";
            position: absolute;
            left: 0;
            top: calc(50% - 0.3rem);
            width: 0.6rem;
            height: 0.6rem;
            border: 1px solid $red;
            background-color: $red;
            border-radius: 50%;
         }
         &:last-child {
            margin-bottom: 0;
         }
         p {
            font-family: $font;
            color: $black;
            font-weight: 400;
            font-size: 1.7rem;
            margin-left: 1.1rem;
         }
      }
   }
}
