//*mixins*//
@import "./mixin.scss";

.aside__cat {
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: $white;
   &--item {
      height: 4rem;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      transition: background-color 0.1s linear;
      i {
         font-size: 1.5rem;
         margin-right: 1rem;
         margin-left: 0.3rem;
         color: $silver;
         transition: color 0.1s linear;
      }
      a {
         display: block;
         height: 100%;
         width: 100%;
         text-decoration: none;
         font-size: 1.5rem;
         line-height: 4rem;
         font-family: $font;
         color: $black-l;
         font-weight: 400;
         transition: color 0.1s linear;
         &:hover {
            cursor: pointer;
         }
      }
      &:after {
         content: ("");
         position: absolute;
         bottom: 0;
         left: 2%;
         height: 0.1rem;
         width: 96%;
         background-color: $silver;
      }
      &:last-child {
         &:after {
            display: none;
         }
      }
      &:hover {
         background-color: $red;
         i {
            color: $white;
         }
         a {
            color: $white;
         }
         &:after {
            background-color: $red;
         }
      }
   }
}
