//*mixins*//
@import "./mixin.scss";

.aside__cat {
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: $white;
   &--item {
      height: 4rem;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      i {
         font-size: 1.5rem;
         margin-right: 1rem;
         margin-left: 0.3rem;
         color: $silver;
      }
      a {
         text-decoration: none;
         font-size: 1.5rem;
         font-family: $font;
         color: $black-l;
         font-weight: 400;
         transition: color 0.2s linear;
         &:hover{
            cursor: pointer;
            color: $black;
         }
      }
      &:after{
         content: ("");
         position: absolute;
         bottom: 0;
         left: 2%;
         height: 0.1rem;
         width: 96%;
         background-color: $silver;
      }
      &:last-child{
         &:after{
            display: none;
         }
      }
   }
}
