//*mixins*//
@import "./mixin.scss";

.aside {
   width: 350 / 1340 * 100%;
   @include mobile {
      position: absolute;
      top: 0;
      left: -55%;
      width: 50%;
      z-index: 1200;
      background-color: $background;
      transition: all 0.2s linear;
   }
   @include mobile-sm {
      width: 70%;
      left: -75%;
   }
}
.aside__open {
   left: 0;
}
