//*mixins*//
@import "./mixin.scss";

.baner{
   padding: 1rem 0;
   background-color: $red;
   &__row{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      &--item{
         width: 15%;
      }
   }
}