//*mixins*//
@import "./mixin.scss";

.chackout {
   margin: 4rem auto;
   &__row {
      background-color: $white;
      padding: 2rem;
   }
   &__content {
      border: 1px solid $silver-l;
      padding: 2rem;
      &--title {
         margin-bottom: 2rem;
         h2 {
            font-family: $font;
            color: $black;
            font-weight: 700;
            font-size: 2.5rem;
            @include tablet {
               font-size: 2rem;
            }
            @include mobile-xsm {
               font-size: 1.8rem;
            }
         }
      }
      &--footer {
         margin-top: 0.5rem;
         p {
            font-family: $font;
            font-weight: 400;
            color: $black;
            font-size: 1.7rem;
            @include mobile {
               font-size: 1.5rem;
            }
         }
         a {
            font-family: $font;
            font-weight: 400;
            color: $red;
            font-size: 1.7rem;
            text-decoration: none;
            &:hover {
               text-decoration: underline;
               cursor: pointer;
            }
         }
      }
   }
   @include tablet {
      margin: 2rem 0;
   }
}
.chackout__form {
   &--block {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      label {
         color: $black;
         font-weight: 700;
         font-family: $font;
         font-size: 1.7rem;
         margin-bottom: 0.2rem;
         @include mobile {
            font-size: 1.5rem;
         }
      }
      input {
         border: 1px solid $silver-l;
         width: 100%;
         height: 4rem;
         padding: 0.7rem;
         margin-bottom: 0.2rem;
         font-family: $font;
         color: $black;
         font-size: 1.7rem;
         font-weight: 400;
         &:focus {
            border: 1px solid $black;
         }
         @include mobile {
            font-size: 1.5rem;
         }
      }
      select {
         border: 1px solid $silver-l;
         width: 100%;
         height: 4rem;
         padding: 0.7rem;
         margin-bottom: 0.2rem;
         font-family: $font;
         color: $black;
         font-size: 1.7rem;
         font-weight: 400;
         &:focus {
            border: 1px solid $black;
         }
         @include mobile {
            font-size: 1.5rem;
         }
      }
      p {
         color: $red;
         font-family: $font;
         font-size: 1.2rem;
         font-weight: 400;
         opacity: 0;
         visibility: hidden;
      }
   }
   &--button {
      margin-top: 2rem;
      button {
         padding: 1rem 2rem;
         font-family: $font;
         color: $black;
         font-weight: 400;
         font-size: 1.7rem;
         border: 1px solid $black;
         background-color: $silver;
         transition: background-color 0.2s linear, color 0.2s linear;
         i {
            margin-left: 0.5rem;
            font-size: 1.8rem;
         }
         &:hover {
            background-color: $red;
            color: $white;
            border: 1px solid $silver;
         }
         &:active {
            transform: scale(0.98);
         }
         @include mobile {
            font-size: 1.5rem;
         }
         @include mobile-xxsm {
            padding: 0.5rem 1rem;
         }
      }
   }
}
