//*mixins*//
@import "./mixin.scss";

.contact__title {
   margin-bottom: 4rem;
   @include tablet {
      margin-bottom: 2rem;
   }
   &--title {
      text-align: center;
   }
   h1 {
      text-transform: uppercase;
      font-family: $font;
      color: $black;
      font-size: 2.5rem;
      font-weight: 700;
      border-bottom: 2px solid $red;
      display: inline;
      @include tablet {
         font-size: 2rem;
      }
      @include mobile {
         font-size: 1.8rem;
      }
   }
}
.contact__block {
   margin-bottom: 4rem;
   @include tablet {
      margin-bottom: 2rem;
   }
   &--row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @include mobile {
         flex-wrap: wrap;
         justify-content: center;
      }
   }
}
.contact__address {
   width: 48%;
   &--line {
      margin-bottom: 2rem;
      display: flex;
      align-items: flex-start;
      &:last-child {
         margin-bottom: 0;
      }
      i {
         color: $red;
         font-size: 2.5rem;
         margin-right: 1rem;
      }
      span {
         color: $black;
         font-weight: 400;
         font-family: $font;
         font-size: 1.7rem;
         @include mobile {
            font-size: 1.6rem;
         }
         @include mobile-sm {
            font-size: 1.5rem;
         }
      }
   }
   @include mobile {
      width: 100%;
   }
}
.contact__form {
   width: 48%;
   &--block {
      width: 100%;
      position: relative;
      margin-bottom: 4.5rem;
      i {
         position: absolute;
         bottom: 0;
         left: 0;
         font-size: 2.5rem;
         color: $red;
      }
      input {
         font-weight: 400;
         font-size: 1.7rem;
         color: $black;
         font-family: $font;
         position: absolute;
         bottom: 0;
         right: 0;
         width: 93%;
         height: 3.5rem;
         border: none;
         background-color: transparent;
         border-bottom: 1px solid $silver-l;
         &:focus {
            outline: none;
            border-bottom-color: $red;
         }
         @include mobile {
            font-size: 1.6rem;
         }
         @include mobile-sm {
            font-size: 1.5rem;
         }
      }
      label {
         position: relative;
         top: -1rem;
         left: 9%;
         font-size: 1.7rem;
         font-weight: 400;
         color: $black;
         font-family: $font;
         transition: font-size 0.1s linear, top 0.1s linear;
         @include mobile {
            font-size: 1.6rem;
         }
         @include mobile-sm {
            font-size: 1.5rem;
         }
      }
      textarea {
         font-weight: 400;
         font-size: 1.7rem;
         color: $black;
         font-family: $font;
         position: absolute;
         bottom: 0;
         right: 0;
         width: 93%;
         height: 4rem;
         border: none;
         background-color: transparent;
         border-bottom: 1px solid $silver-l;
         resize: none;
         &:focus {
            outline: none;
            border-bottom-color: $red;
         }
         @include mobile {
            font-size: 1.6rem;
         }
         @include mobile-sm {
            font-size: 1.5rem;
         }
      }
      @include mobile {
         margin-bottom: 3.5rem;
      }
   }
   &--button {
      margin-bottom: 1.5rem;
      button {
         border: none;
         background-color: transparent;
         font-family: $font;
         font-size: 1.7rem;
         color: $black;
         font-weight: 400;
         margin: 0;
         padding: 1.5rem;
         background-color: $silver-l;
         border: 1px solid $silver-l;
         transition: background-color 0.2s linear, color 0.2s linear;
         i {
            margin-left: 0.5rem;
            color: $black;
            font-size: 1.7rem;
            transition: color 0.2s linear;
         }
         &:hover {
            background-color: $red;
            color: $white;
            cursor: pointer;
            i {
               color: $white;
            }
         }
         &:active {
            transform: scale(0.97);
         }
         @include mobile {
            font-size: 1.6rem;
         }
         @include mobile-sm {
            font-size: 1.5rem;
         }
      }
      @include tablet {
         margin-bottom: 1rem;
      }
   }
   @include mobile {
      width: 100%;
      margin-bottom: 2rem;
   }
}
.error__text {
   width: 100%;
   height: 2.2rem;
   font-family: $font;
   font-weight: 400;
   font-size: 1.7rem;
   color: $red;
   @include mobile {
      font-size: 1.6rem;
   }
   @include mobile-sm {
      font-size: 1.5rem;
   }
}
#name:focus ~ label[for="name"] {
   font-size: 1.2rem;
   top: -2.7rem;
}
#email:focus ~ label[for="email"] {
   font-size: 1.2rem;
   top: -2.7rem;
}
#phone:focus ~ label[for="phone"] {
   font-size: 1.2rem;
   top: -2.7rem;
}
#message:focus ~ label[for="message"] {
   font-size: 1.2rem;
   top: -3.5rem;
}
.contact__line {
   margin-bottom: 4rem;
   @include tablet {
      margin-bottom: 2rem;
   }
   &--line {
      width: 100%;
      height: 0.1rem;
      hr {
         background-color: $red;
         width: 100%;
         height: 100%;
         display: block;
      }
   }
}
