//*mixins*//
@import "./mixin.scss";

.main {
   width: 100%;
   &__row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }
   &__content{
      width: 900 / 1340 * 100%;
   }
}
