//*mixins*//
@import "./mixin.scss";

.tovar__title {
   margin-top: 4rem;
   margin-bottom: 4rem;
   h2 {
      color: $black;
      font-family: $font;
      font-weight: 700;
      font-size: 2rem;
   }
}
.tovar__block {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   &--galery {
      width: 48%;
   }
   &--content {
      width: 48%;
   }
}
.galery__block--b {
   margin: 0 auto 2rem;
   width: 80%;
   a {
      text-decoration: none;
      cursor: pointer;
      display: block;
      width: 100%;
   }
}
.galery__block--sm {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
   a {
      display: block;
      text-decoration: none;
      cursor: pointer;
      width: 20%;
   }
}
.tovar__summ {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1rem;
}
.tovar__availability {
   margin-bottom: 1rem;
   p {
      font-family: $font;
      font-weight: 400;
      color: $red;
      font-size: 1.7rem;
   }
}
.variation__color {
   margin-bottom: 1rem;
   display: flex;
   h3 {
      color: $black;
      font-family: $black;
      font-weight: 700;
      font-size: 1.7rem;
      margin-right: 1rem;
   }
   p {
      font-family: $font;
      font-weight: 700;
      color: $black;
      font-size: 1.7rem;
   }
}
.variation__list {
   margin-bottom: 1rem;
   width: 100%;
   select {
      border: 1px solid $silver-l;
      width: 35%;
      font-family: $font;
      font-weight: 700;
      color: $black;
      font-size: 1.7rem;
      padding: 0.5rem 1rem;
      background-color: $white;
      &:hover {
         cursor: pointer;
      }
   }
}
.tovar__count {
   width: 30%;
   height: 5rem;
   border: 1px solid $silver-l;
   display: flex;
   button {
      width: 25%;
      border: none;
      background-color: transparent;
      i {
         color: $black;
         font-size: 1.7rem;
         transition: color 0.2s linear;
      }
      &:hover {
         i {
            color: $red;
         }
      }
      &:active {
         background-color: $silver-l;
      }
   }
   input {
      display: block;
      width: 50%;
      text-align: center;
      border-left: 1px solid $silver;
      border-right: 1px solid $silver;
      font-family: $font;
      font-weight: 700;
      font-size: 1.7rem;
      color: $black;
   }
}
.tovar__price {
   span {
      font-family: $font;
      font-weight: 700;
      font-size: 2rem;
      color: $red;
   }
}
.tovar__btn {
   margin-bottom: 1rem;
   button {
      padding: 1.2rem 2.4rem;
      font-family: $font;
      border: 1px solid $red;
      background-color: $white;
      color: $black;
      font-size: 1.4rem;
      font-weight: 700;
      transition: color 0.2s linear, background-color 0.2s linear;
      &:hover {
         background-color: $red;
         color: $white;
      }
      &:active {
         transform: scale(0.97);
      }
   }
}
.tovar__description {
   margin-bottom: 1rem;
   h2 {
      font-family: $font;
      font-weight: 700;
      color: $red;
      font-size: 2rem;
      margin-bottom: 0.5rem;
   }
   p {
      font-family: $font;
      font-weight: 400;
      color: $black;
      font-size: 1.7rem;
   }
}
.tovar__option {
   h3 {
      font-family: $font;
      font-weight: 700;
      color: $red;
      font-size: 2rem;
      margin-bottom: 0.5rem;
   }
   ul {
      margin: 0;
      margin-bottom: 0.5rem;
      padding-left: 2rem;
      li {
         font-family: $font;
         font-weight: 400;
         color: $black;
         font-size: 1.7rem;
         margin-bottom: 0.3rem;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}
.tovar__slider {
   margin-top: 2rem;
   &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      background-color: $silver;
      padding: 1.5rem;
      h3 {
         font-family: $font;
         font-weight: 700;
         color: $red;
         font-size: 2rem;
      }
   }
}
.slider__button {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   button {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $silver-l;
      border: none;
      transition: background-color 0.2s linear;
      &:first-child {
         margin-right: 0.5rem;
      }
      &:hover {
         cursor: pointer;
         background-color: $red;
      }
      i {
         color: $white;
         font-size: 1.5rem;
      }
   }
}
