/*google foonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__center {
    text-align: center;
}

.mt-6 {
    margin-top: 6rem;
}

@media (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .mt-6 {
        margin-top: 2rem;
    }
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .mt-4 {
        margin-top: 2rem;
    }
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .mt-2 {
        margin-top: 1rem;
    }
}

/*main style*/
* {
    border: 0;
}

html {
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav, footer, header, aside {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}

p {
    margin: 0;
}

img {
    vertical-align: top;
}

input {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    font-family: inherit;
}

:focus {
    outline: none;
}

:active {
    outline: none;
}

a:focus {
    outline: none;
}

a:active {
    outline: none;
}

/*==============block=============*/
/*container*/
.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 560px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/*preloader*/
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s linear, visibility 0.6s linear;
}

.loader__text {
    margin-top: 1rem;
}

.loader__text p {
    color: #222222;
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}

.loader--done {
    opacity: 0;
    visibility: hidden;
}

.loader__wraper {
    width: 8rem;
    height: 8rem;
}

.loader__wraper--circle {
    position: relative;
}

.loader__wraper--circle .circle__1 {
    border-top: 4px solid #f10e34;
    border-right: 4px solid #f10e34;
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: circle__1 1s linear 0s infinite;
}

.loader__wraper--circle .circle__2 {
    border-bottom: 4px solid #f10e34;
    border-left: 4px solid #f10e34;
    width: 7rem;
    height: 7rem;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    animation: circle__2 1s linear 0s infinite;
}

@keyframes circle__1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes circle__2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/*progres line*/
.progress__block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1501;
    width: 0;
    height: 2px;
    transition: width 0.1s linear;
}

.load__line {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

/*header*/
.header {
    width: 100%;
    background-color: #222222;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.header__form {
    display: flex;
    align-items: center;
    width: 50%;
}

.header__form--search {
    width: 80%;
    margin-right: 1rem;
}

.header__form--search form {
    width: 100%;
    height: 3rem;
    display: flex;
}

.header__form--search form input {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #a7a7a7;
    line-height: 3.333;
    width: 90%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-left: 1rem;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.header__form--search form input:focus {
    border-bottom: 1px solid #f10e34;
    border-top: 1px solid #f10e34;
    border-left: 1px solid #f10e34;
}

.header__form--search form button {
    width: 10%;
    background-color: #f10e34;
    margin: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.header__form--search form button i {
    font-size: 1.8rem;
    color: #ffffff;
    transition: color 0.2s linear;
}

.header__form--search form button:hover i {
    color: #222222;
}

.header__form--chart {
    width: 20%;
    display: flex;
    align-items: center;
}

.header__form--chart a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #f10e34;
    text-decoration: none;
    margin-right: 1rem;
}

.header__form--chart a i {
    color: #ffffff;
    font-size: 1.6rem;
    transition: color 0.2s linear;
}

.header__form--chart a:hover i {
    color: #222222;
}

.chart__price p {
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
}

.chart__price p:last-child {
    font-weight: bold;
}

/*nav*/
.nav {
    width: 100%;
    background-color: #f10e34;
    z-index: 1500;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__content--cat {
    width: 26.1194%;
    display: flex;
    align-items: center;
}

.nav__content--cat p {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

@media (min-width: 991px) {
    .nav__content--cat p {
        cursor: pointer;
    }
}

.nav__content--menu {
    margin: 0;
    padding: 0;
    width: 67.16418%;
    list-style-type: none;
    display: flex;
    height: 4rem;
}

.menu__item {
    margin-right: 2rem;
    transition: background-color 0.2s linear;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.2s linear;
}

.menu__item .active {
    color: #222222;
}

.menu__item:hover {
    background-color: #f3f3f3;
}

.menu__item:hover a {
    cursor: pointer;
    color: #222222;
}

/*burger*/
.burger__btn {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    position: relative;
}

.burger__btn span {
    position: absolute;
    top: calc(50% - 0.1rem);
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #ffffff;
    transition: background-color 0.2s linear;
    transition: width 0.1s linear, transform 0.2s linear, background-color 0.2s linear;
}

.burger__btn span:first-child {
    top: calc(25% - 0.1rem);
}

.burger__btn span:last-child {
    top: calc(75% - 0.1rem);
}

@media (max-width: 991px) {
    .burger__btn:hover {
        cursor: pointer;
    }

    .burger__btn:hover span {
        background-color: #222222;
    }
}

.burger__btn--active span:first-child {
    width: 0;
}

.burger__btn--active span:nth-child(2) {
    transform: rotate(45deg);
}

.burger__btn--active span:nth-child(3) {
    transform: rotate(-45deg);
}

.burger__btn--active span:last-child {
    width: 0;
}

/*main*/
.main {
    width: 100%;
}

.main__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main__content {
    width: 67.16418%;
}

/*aside*/
.aside {
    width: 26.1194%;
}

/*aside cat*/
.aside__cat {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.aside__cat--item {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.1s linear;
}

.aside__cat--item i {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 0.3rem;
    color: #eaeaea;
    transition: color 0.1s linear;
}

.aside__cat--item a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 4rem;
    font-family: "Lato", sans-serif;
    color: #222222;
    font-weight: 400;
    transition: color 0.1s linear;
}

.aside__cat--item a:hover {
    cursor: pointer;
}

.aside__cat--item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2%;
    height: 0.1rem;
    width: 96%;
    background-color: #eaeaea;
}

.aside__cat--item:last-child:after {
    display: none;
}

.aside__cat--item:hover {
    background-color: #f10e34;
}

.aside__cat--item:hover i {
    color: #ffffff;
}

.aside__cat--item:hover a {
    color: #ffffff;
}

.aside__cat--item:hover:after {
    background-color: #f10e34;
}

/*intro*/
.intro {
    position: relative;
}

.intro__content {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.5);
    top: 0;
    left: 0;
}

.intro__content h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 6rem;
    color: #222222;
    margin-left: 3rem;
    margin-top: 20%;
}

.intro__content h1 span {
    color: #f10e34 !important;
}

.intro__content h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.intro__content a {
    text-decoration: none;
    margin-left: 3rem;
    padding: 1rem 0.5rem;
    border: 1px solid #f10e34;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.intro__content a:hover {
    background-color: #ffffff;
    color: #222222;
}

.intro__content--baner {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f10e34;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.baner__coll {
    text-align: center;
}

.baner__coll h3 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.baner__coll p {
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 400;
}

/*product*/
.product__slider {
    background-color: #ffffff;
    padding: 1rem;
}

.product__slider--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 1rem;
}

.product__slider--title h3 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.product__slider--title .product__slider--buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product__slider--title .product__slider--buttons button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    border: none;
    transition: background-color 0.2s linear;
}

.product__slider--title .product__slider--buttons button:first-child {
    margin-right: 0.5rem;
}

.product__slider--title .product__slider--buttons button:hover {
    cursor: pointer;
    background-color: #f10e34;
}

.product__slider--title .product__slider--buttons button i {
    color: #ffffff;
    font-size: 1.5rem;
}

.product__item {
    text-align: center;
}

.product__item--title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
}

.product__item--price {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #000000;
}

/*subscribe*/
.subscribe {
    background-color: #ffffff;
    padding: 1rem;
}

.subscribe__title {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 2rem;
}

.subscribe__title h3 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe__form p {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
    margin-bottom: 1.5rem;
}

.subscribe__form--form input {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #cacaca;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
}

.subscribe__form--form button {
    border: 1px solid #f10e34;
    border-radius: 0.5rem;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
    background-color: #f10e34;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.subscribe__form--form button:hover {
    color: #f10e34;
    background-color: #ffffff;
}

/*proposition*/
.proposition {
    background-color: #ffffff;
    padding: 1rem;
}

.proposition__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 2rem;
}

.proposition__title h3 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.proposition__title .proposition__title--button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.proposition__title .proposition__title--button button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    border: none;
    transition: background-color 0.2s linear;
}

.proposition__title .proposition__title--button button:first-child {
    margin-right: 0.5rem;
}

.proposition__title .proposition__title--button button:hover {
    cursor: pointer;
    background-color: #f10e34;
}

.proposition__title .proposition__title--button button i {
    color: #ffffff;
    font-size: 1.5rem;
}

.proposition__item {
    text-align: center;
    text-decoration: none;
    display: block;
}

.proposition__item--title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
}

.proposition__item--price {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #000000;
}

.proposition__item--button {
    padding: 0.8rem 0.4rem;
    margin-top: 0.5rem;
    font-family: "Lato", sans-serif;
    border: 1px solid #f10e34;
    background-color: #ffffff;
    color: #222222;
    font-size: 1.4rem;
    font-weight: 700;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.proposition__item--button:hover {
    background-color: #f10e34;
    color: #ffffff;
}

.proposition__item--button:active {
    transform: scale(0.97);
}

/*action*/
.action__row {
    position: relative;
    width: 100%;
}

.action__row--title {
    position: absolute;
    z-index: 3;
    left: 5%;
    top: 30%;
    width: 95%;
}

.action__row--title h3 {
    font-size: 3rem;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.action__row--title p {
    color: #222222;
    margin: 0.3rem 0 2rem 0;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.action__row--title a {
    text-decoration: none;
    padding: 1rem 0.5rem;
    border: 1px solid #f10e34;
    color: #222222;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.action__row--title a:hover {
    color: #ffffff;
    background-color: #f10e34;
}

/*popular*/
.popular {
    background-color: #ffffff;
    padding: 1rem;
}

.popular__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 2rem;
}

.popular__title h3 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.popular__title .popular__title--button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.popular__title .popular__title--button button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    border: none;
    transition: background-color 0.2s linear;
}

.popular__title .popular__title--button button:first-child {
    margin-right: 0.5rem;
}

.popular__title .popular__title--button button:hover {
    cursor: pointer;
    background-color: #f10e34;
}

.popular__title .popular__title--button button i {
    color: #ffffff;
    font-size: 1.5rem;
}

.popular__item {
    text-align: center;
}

.popular__item--title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
}

.popular__item--price {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #000000;
}

.popular__item--button {
    padding: 0.8rem 0.4rem;
    margin-top: 0.5rem;
    font-family: "Lato", sans-serif;
    border: 1px solid #f10e34;
    background-color: #ffffff;
    color: #222222;
    font-size: 1.4rem;
    font-weight: 700;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.popular__item--button:hover {
    background-color: #f10e34;
    color: #ffffff;
}

.popular__item--button:active {
    transform: scale(0.97);
}

/*baner*/
.baner {
    padding: 1rem 0;
    background-color: #f10e34;
}

.baner__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.baner__row--item {
    width: 15%;
}

/*footer*/
.footer {
    background-color: #222222;
    padding: 3rem 0;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__description {
    width: 22%;
}

.footer__description--logo {
    margin-bottom: 1rem;
}

.footer__description p {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer__description--adress {
    margin-bottom: 1rem;
}

.footer__description--adress i {
    color: #ffffff;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.footer__description--adress span {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
}

.footer__description--phone {
    margin-bottom: 1rem;
}

.footer__description--phone i {
    color: #ffffff;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    transition: color 0.1s linear;
}

.footer__description--phone a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    transition: color 0.1s linear;
}

.footer__description--phone:hover i {
    color: #f10e34;
}

.footer__description--phone:hover a {
    color: #f10e34;
}

.footer__description--mail i {
    color: #ffffff;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    transition: color 0.1s linear;
}

.footer__description--mail a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    transition: color 0.1s linear;
}

.footer__description--mail:hover i {
    color: #f10e34;
}

.footer__description--mail:hover a {
    color: #f10e34;
}

.footer__menu {
    width: 22%;
}

.footer__menu h3 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
}

.footer__menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__menu ul li {
    margin-bottom: 1rem;
}

.footer__menu ul li:last-child {
    margin-bottom: 0;
}

.footer__menu ul li a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    transition: color 0.1s linear;
}

.footer__menu ul li a:hover {
    color: #f10e34;
}

.footer__social {
    width: 22%;
}

.footer__social h3 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
}

.footer__social ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__social ul li {
    margin-bottom: 1rem;
}

.footer__social ul li:last-child {
    margin-bottom: 0;
}

.footer__social ul li a {
    text-decoration: none;
}

.footer__social ul li a i {
    color: #ffffff;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    transition: color 0.1s linear;
}

.footer__social ul li a span {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    transition: color 0.1s linear;
}

.footer__social ul li a:hover i {
    color: #f10e34;
}

.footer__social ul li a:hover span {
    color: #f10e34;
}

.footer__time {
    width: 22%;
}

.footer__time h3 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
}

.footer__time--grafik {
    display: flex;
    align-items: flex-start;
}

.footer__time--grafik i {
    margin-right: 1rem;
    color: #ffffff;
    font-size: 1.5rem;
}

.footer__time--grafik div p {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 1rem;
}

.footer__time--payment {
    display: flex;
}

.footer__time--payment div {
    margin-right: 1rem;
}

.footer__time--payment div:last-child {
    margin-right: 0;
}

.footer__copyright {
    padding: 1rem 0;
    text-align: center;
    background-color: #1f1e1e;
}

.footer__copyright--row {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

/*back top*/
.back__top {
    position: fixed;
    z-index: 1500;
    bottom: -3.5rem;
    right: 1%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #cacaca;
    border: 1px solid #cacaca;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s linear, border-color 0.2s linear, bottom 0.3s linear;
}

.back__top--content {
    animation: zoom 1s linear 0s infinite alternate;
}

.back__top--content i {
    color: #f10e34;
    font-size: 2rem;
    transition: color 0.2s linear;
}

.back__top:hover {
    cursor: pointer;
    background-color: #f10e34;
    border-color: #f10e34;
}

.back__top:hover i {
    color: #ffffff;
}

@keyframes zoom {
    0% {
        transform: scale(0.93);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.07);
    }
}

/*about us*/
.about {
    margin-top: 2rem;
}

.about__row--title {
    text-align: center;
    margin-bottom: 2rem;
}

.about__row--title h3 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
}

.about__row--line {
    width: 100%;
    height: 1px;
    margin: 2rem 0 6rem 0;
}

.about__row--line hr {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f10e34;
}

.about__row--text {
    margin-bottom: 2rem;
    border: 1px solid #f10e34;
    padding: 2rem;
}

.about__row--text p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.about__row--text p:last-child {
    margin-bottom: 0;
}

.about__row--content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content__slider {
    width: 30%;
}

.content__list {
    width: 65%;
}

.content__list h3 {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.content__list--block {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    list-style-type: none;
}

.content__list--block li {
    margin-bottom: 1rem;
    position: relative;
}

.content__list--block li:before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 0.3rem);
    width: 0.6rem;
    height: 0.6rem;
    border: 1px solid #f10e34;
    background-color: #f10e34;
    border-radius: 50%;
}

.content__list--block li:last-child {
    margin-bottom: 0;
}

.content__list--block li p {
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 1.7rem;
    margin-left: 1.1rem;
}

/*public oferta*/
.main__oferta {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

@media (max-width: 991px) {
    .main__oferta {
        margin-top: 2rem;
    }
}

.main__oferta--title {
    text-align: center;
}

.main__oferta--title h1 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-size: 2.8rem;
    font-weight: 700;
    border-bottom: 2px solid #f10e34;
    display: inline;
}

.oferta {
    margin-bottom: 2rem;
}

.oferta__title {
    margin-bottom: 2rem;
}

.oferta__title h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
}

.oferta__title h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    font-family: "Lato", sans-serif;
}

.oferta__text p {
    font-size: 1.7rem;
    font-weight: 400;
    color: #000000;
    font-family: "Lato", sans-serif;
}

.oferta__text p a {
    text-decoration: none;
    color: #f10e34;
}

.oferta__block {
    margin-bottom: 3rem;
}

.oferta__block--title {
    margin-bottom: 2rem;
}

.oferta__block--title span {
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 2rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.oferta__block--title p {
    display: inline-block;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 2rem;
}

.oferta__block--list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.oferta__block--list li {
    margin-bottom: 1rem;
}

.oferta__block--list li p {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: #000000;
    margin-bottom: 0.5rem;
}

.oferta__block--list li p a {
    text-decoration: none;
    color: #f10e34;
}

.oferta__block--list li p:last-child {
    margin-bottom: 0;
}

.oferta__block--list li:last-child {
    margin-bottom: 0;
}

/*obmin ta povernennya*/
.obmin {
    margin-bottom: 4rem;
}

.obmin__title {
    margin-top: 4rem;
    text-align: center;
}

.obmin__title--title h1 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-size: 2.8rem;
    font-weight: 700;
    border-bottom: 2px solid #f10e34;
    display: inline;
}

.obmin__block {
    margin: 4rem 0;
}

.obmin__block--reverse .obmin__block--row {
    flex-direction: row-reverse;
}

.obmin__block--row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .obmin__block {
        margin: 2rem 0;
    }
}

.block__text {
    width: 65%;
}

.block__text--title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.block__text--title span {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: #cacaca;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__text--title span i {
    color: #f10e34;
    font-size: 2.2rem;
}

.block__text--title p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.block__text--text p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
}

.block__icon {
    width: 25%;
    display: flex;
    justify-content: center;
}

.block__icon span i {
    color: #f10e34;
    font-size: 10rem;
}

.obmin__line {
    text-align: center;
}

.obmin__line--row {
    padding: 2rem;
    border: 1px solid #f10e34;
}

.obmin__line--row p {
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    font-family: "Lato", sans-serif;
}

.block__tex {
    margin-top: 1rem;
}

.block__tex p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
}

.block__tex p:last-child {
    margin-top: 1rem;
}

/*dostavka ta oplata*/
.dostavka__title {
    margin-top: 2rem;
    text-align: center;
}

.dostavka__title--title h1 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 2px solid #f10e34;
    display: inline;
}

.dostavka__post {
    margin: 2rem 0;
}

.dostavka__post--title {
    border-left: 2px solid #f10e34;
    padding-left: 1rem;
}

.dostavka__post--title h3 {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.dostavka__post--title h3 span {
    color: #f10e34;
}

.dostavka__post--img {
    margin-top: 2rem;
}

.dostavka__post--img img {
    border: 1px solid #f10e34;
}

.title__post--row {
    display: flex;
    align-items: center;
}

.title__post--row span {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: #cacaca;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title__post--row span i {
    color: #f10e34;
    font-size: 1.8rem;
}

.title__post--row p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
}

.image__post {
    margin: 2rem 0;
}

.image__post--row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.image__post--row .row__text {
    width: 70%;
}

.image__post--row .row__text--title {
    margin-bottom: 2rem;
    border-left: 2px solid #f10e34;
    padding-left: 1rem;
}

.image__post--row .row__text--title h3 {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.image__post--row .row__text--text p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 1.7rem;
}

.image__post--row .row__img {
    width: 25%;
    display: flex;
    justify-content: center;
}

.image__post--row .row__img span i {
    color: #f10e34;
    font-size: 10rem;
}

.pay__post {
    margin: 2rem 0;
}

.pay__post--row .pay__post--title {
    margin-bottom: 2rem;
    border-left: 2px solid #f10e34;
    padding-left: 1rem;
}

.pay__post--row .pay__post--title h3 {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.pay__post--row .pay__post--block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.block__item {
    border: 1px solid #f10e34;
    width: 18%;
    padding: 3rem 0;
    text-align: center;
}

.block__item span i {
    color: #f10e34;
    font-size: 2.5rem;
}

.block__item p {
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

/*contact page*/
.contact__title {
    margin-bottom: 4rem;
}

@media (max-width: 991px) {
    .contact__title {
        margin-bottom: 2rem;
    }
}

.contact__title--title {
    text-align: center;
}

.contact__title h1 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 2px solid #f10e34;
    display: inline;
}

.contact__block {
    margin-bottom: 4rem;
}

@media (max-width: 991px) {
    .contact__block {
        margin-bottom: 2rem;
    }
}

.contact__block--row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact__address {
    width: 48%;
}

.contact__address--line {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
}

.contact__address--line:last-child {
    margin-bottom: 0;
}

.contact__address--line i {
    color: #f10e34;
    font-size: 2.5rem;
    margin-right: 1rem;
}

.contact__address--line span {
    color: #000000;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
}

.contact__form {
    width: 48%;
}

.contact__form--block {
    width: 100%;
    position: relative;
    margin-bottom: 4.5rem;
}

.contact__form--block i {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2.5rem;
    color: #f10e34;
}

.contact__form--block input {
    font-weight: 400;
    font-size: 1.7rem;
    color: #000000;
    font-family: "Lato", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93%;
    height: 3.5rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #cacaca;
}

.contact__form--block input:focus {
    outline: none;
    border-bottom-color: #f10e34;
}

@media (max-width: 768px) {
    .contact__form--block input {
        font-size: 1.6rem;
    }
}

.contact__form--block label {
    position: relative;
    top: -1rem;
    left: 9%;
    font-size: 1.7rem;
    font-weight: 400;
    color: #000000;
    font-family: "Lato", sans-serif;
    transition: font-size 0.1s linear, top 0.1s linear;
}

.contact__form--block textarea {
    font-weight: 400;
    font-size: 1.7rem;
    color: #000000;
    font-family: "Lato", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93%;
    height: 4rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #cacaca;
    resize: none;
}

.contact__form--block textarea:focus {
    outline: none;
    border-bottom-color: #f10e34;
}

@media (max-width: 768px) {
    .contact__form--block textarea {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    .contact__form--block {
        margin-bottom: 3.5rem;
    }
}

.contact__form--button {
    margin-bottom: 1.5rem;
}

.contact__form--button button {
    border: none;
    background-color: transparent;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
    color: #000000;
    font-weight: 400;
    margin: 0;
    padding: 1.5rem;
    background-color: #cacaca;
    border: 1px solid #cacaca;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.contact__form--button button i {
    margin-left: 0.5rem;
    color: #000000;
    font-size: 1.7rem;
    transition: color 0.2s linear;
}

.contact__form--button button:hover {
    background-color: #f10e34;
    color: #ffffff;
    cursor: pointer;
}

.contact__form--button button:hover i {
    color: #ffffff;
}

.contact__form--button button:active {
    transform: scale(0.97);
}

@media (max-width: 991px) {
    .contact__form--button {
        margin-bottom: 1rem;
    }
}

.error__text {
    width: 100%;
    height: 2.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #f10e34;
}

#name:focus ~ label[for="name"] {
    font-size: 1.2rem;
    top: -2.7rem;
}

#email:focus ~ label[for="email"] {
    font-size: 1.2rem;
    top: -2.7rem;
}

#phone:focus ~ label[for="phone"] {
    font-size: 1.2rem;
    top: -2.7rem;
}

#message:focus ~ label[for="message"] {
    font-size: 1.2rem;
    top: -3.5rem;
}

.contact__line {
    margin-bottom: 4rem;
}

@media (max-width: 991px) {
    .contact__line {
        margin-bottom: 2rem;
    }
}

.contact__line--line {
    width: 100%;
    height: 0.1rem;
}

.contact__line--line hr {
    background-color: #f10e34;
    width: 100%;
    height: 100%;
    display: block;
}

/*error page*/
.error {
    width: 100%;
    height: 80vh;
}

.error__block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error__block h2 {
    color: #f10e34;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
}

.error__block a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #222222;
    transition: color 0.1s linear;
}

.error__block a:hover {
    cursor: pointer;
    color: #000000;
}

/*==============vendor=============*/
/*slick slider*/
.slick-slider {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}
