/*google foonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__center {
    text-align: center;
}

.mt-6 {
    margin-top: 6rem;
}

@media (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .mt-6 {
        margin-top: 2rem;
    }
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .mt-4 {
        margin-top: 2rem;
    }
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .mt-2 {
        margin-top: 1rem;
    }
}

/*main style*/
* {
    border: 0;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav, footer, header, aside {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}

p {
    margin: 0;
}

img {
    vertical-align: top;
}

input {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    font-family: inherit;
}

:focus {
    outline: none;
}

:active {
    outline: none;
}

a:focus {
    outline: none;
}

a:active {
    outline: none;
}

/*==============block=============*/
/*container*/
.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 560px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/*header*/
.header {
    width: 100%;
    background-color: #222222;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.header__form {
    display: flex;
    align-items: center;
    width: 50%;
}

.header__form--search {
    width: 80%;
    margin-right: 1rem;
}

.header__form--search form {
    width: 100%;
    height: 3rem;
    display: flex;
}

.header__form--search form input {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #a7a7a7;
    line-height: 3.333;
    width: 90%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-left: 1rem;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.header__form--search form input:focus {
    border-bottom: 1px solid #f10e34;
    border-top: 1px solid #f10e34;
    border-left: 1px solid #f10e34;
}

.header__form--search form button {
    width: 10%;
    background-color: #f10e34;
    margin: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.header__form--search form button i {
    font-size: 1.8rem;
    color: #ffffff;
    transition: color 0.2s linear;
}

.header__form--search form button:hover i {
    color: #222222;
}

.header__form--chart {
    width: 20%;
    display: flex;
    align-items: center;
}

.header__form--chart a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #f10e34;
    text-decoration: none;
    margin-right: 1rem;
}

.header__form--chart a i {
    color: #ffffff;
    font-size: 1.6rem;
    transition: color 0.2s linear;
}

.header__form--chart a:hover i {
    color: #222222;
}

.chart__price p {
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
}

.chart__price p:last-child {
    font-weight: bold;
}

/*nav*/
.nav {
    width: 100%;
    background-color: #f10e34;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
}

.nav__content--cat {
    width: 26.1194%;
    display: flex;
    align-items: center;
}

.nav__content--cat p {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__content--menu {
    margin: 0;
    padding: 0;
    width: 67.16418%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu__item {
    margin-right: 2rem;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item--link {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.2s linear;
}

.menu__item--link:hover {
    cursor: pointer;
    color: #222222;
}

.menu__item .active {
    color: #222222;
}

/*burger*/
.burger__btn {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    position: relative;
}

.burger__btn span {
    position: absolute;
    top: calc(50% - 0.1rem);
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #ffffff;
    transition: background-color 0.2s linear;
    transition: width 0.1s linear, transform 0.2s linear, background-color 0.2s linear;
}

.burger__btn span:first-child {
    top: calc(25% - 0.1rem);
}

.burger__btn span:last-child {
    top: calc(75% - 0.1rem);
}

.burger__btn:hover {
    cursor: pointer;
}

.burger__btn:hover span {
    background-color: #222222;
}

.burger__btn--active span:first-child {
    width: 0;
}

.burger__btn--active span:nth-child(2) {
    transform: rotate(45deg);
}

.burger__btn--active span:nth-child(3) {
    transform: rotate(-45deg);
}

.burger__btn--active span:last-child {
    width: 0;
}

/*main*/
.main {
    width: 100%;
}

.main__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main__content {
    width: 67.16418%;
}

/*aside*/
.aside {
    width: 26.1194%;
}

/*aside cat*/
.aside__cat {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.aside__cat--item {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.aside__cat--item i {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 0.3rem;
    color: #eaeaea;
}

.aside__cat--item a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
    font-weight: 400;
    transition: color 0.2s linear;
}

.aside__cat--item a:hover {
    cursor: pointer;
    color: #000000;
}

.aside__cat--item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2%;
    height: 0.1rem;
    width: 96%;
    background-color: #eaeaea;
}

.aside__cat--item:last-child:after {
    display: none;
}

/*intro*/
.intro {
    position: relative;
}

.intro__content {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.5);
    top: 0;
    left: 0;
}

.intro__content h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 6rem;
    color: #222222;
    margin-left: 3rem;
    margin-top: 20%;
}

.intro__content h1 span {
    color: #f10e34 !important;
}

.intro__content h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.intro__content a {
    text-decoration: none;
    margin-left: 3rem;
    padding: 1rem 0.5rem;
    border: 1px solid #f10e34;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.intro__content a:hover {
    background-color: #ffffff;
    color: #222222;
}

.intro__content--baner {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f10e34;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.baner__coll {
    text-align: center;
}

.baner__coll h3 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.baner__coll p {
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 400;
}

/*product*/
.product__slider {
    background-color: #ffffff;
    padding: 1rem;
}

.product__slider--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 1rem;
}

.product__slider--title h3 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.product__slider--title .product__slider--buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product__slider--title .product__slider--buttons button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    border: none;
    transition: background-color 0.2s linear;
}

.product__slider--title .product__slider--buttons button:first-child {
    margin-right: 0.5rem;
}

.product__slider--title .product__slider--buttons button:hover {
    cursor: pointer;
    background-color: #f10e34;
}

.product__slider--title .product__slider--buttons button i {
    color: #ffffff;
    font-size: 1.5rem;
}

.product__item {
    text-align: center;
}

.product__item--title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
}

.product__item--price {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #000000;
}

/*subscribe*/
.subscribe {
    background-color: #ffffff;
    padding: 1rem;
}

.subscribe__title {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 1rem;
}

.subscribe__title h3 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe__form p {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
    margin-bottom: 1rem;
}

.subscribe__form--form input {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #cacaca;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
}

.subscribe__form--form button {
    border: 1px solid #f10e34;
    border-radius: 0.5rem;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: #222222;
    background-color: #f10e34;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.subscribe__form--form button:hover {
    color: #f10e34;
    background-color: #ffffff;
}

/*==============vendor=============*/
/*slick slider*/
.slick-slider {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}
